<app-blank title="Categories" sectionTitle="Category List">
  <div class="form-group">
    <button
      class="btn btn-outline-primary"
      data-bs-toggle="modal"
      data-bs-target="#addModal"
    >
      <i class="fa fa-plus"></i>
    </button>
    <div class="col-md-4" style="float: right">
      <input
        type="search"
        class="form-control"
        placeholder="Search product"
        [(ngModel)]="search"
      />
    </div>
  </div>

  <app-table [heads]="['#', 'Category Name', 'Others']">
    <tr
      *ngFor="let category of categories | categoryPipe : search; let i = index"
    >
      <td>{{ i + 1 }}</td>
      <td>{{ category.name }}</td>
      <td style="display: flex; justify-content: center; gap: 20px">
        <button
          class="btn btn-outline-warning btn-sm"
          (click)="get(category)"
          data-bs-toggle="modal"
          data-bs-target="#updateModal"
          style="width: 30%"
        >
          <i class="fa fa-edit"></i>
        </button>
        <button
          (click)="removeById(category)"
          class="btn btn-outline-danger btn-sm mx-1"
          style="width: 30%"
        >
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </app-table>
</app-blank>

<!-- Add Modal -->
<div
  class="modal fade"
  id="addModal"
  tabindex="-1"
  aria-labelledby="addModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addModalLabel">Add Category</h1>
        <button
          id="addModalCloseButton"
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form #addForm="ngForm" (ngSubmit)="add(addForm)">
        <div class="modal-body">
          <div class="form-group">
            <label for="name">Category Name</label>
            <input
              type="text"
              ngModel
              name="name"
              id="name"
              class="form-control"
              #name
              [appValid]="name.validity.valid"
              required
              minlength="3"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Update Modal -->
<div
  class="modal fade"
  id="updateModal"
  tabindex="-1"
  aria-labelledby="updateModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="updateModalLabel">Update Category</h1>
        <button
          id="updateModalCloseButton"
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form #updateForm="ngForm" (ngSubmit)="update(updateForm)">
        <div class="modal-body">
          <div class="form-group">
            <label for="updateName">Category Name</label>
            <input
              type="text"
              [(ngModel)]="updateCategory.name"
              name="updateName"
              id="updateName"
              class="form-control"
              #updateName
              [appValid]="updateName.validity.valid"
              required
              minlength="3"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-warning">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
